---
title: Red's Pile
---
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<script src="res/script.js"></script>
		<link rel="stylesheet" href="res/style.css"/>
		<style>
			.egg {
				color: #545454 !important;
			}
		</style>
	</head>
	<body>
		<h1>I'm Red, and welcome to my dumpster.</h1>
		<div class="navigation">
			<nav>
				<ul>
					<li><a href="https://github.com/RedSQL/redsql.github.io" title="(For this site)">Source Code</a></li>
					<li><a href='acknowledgements.html'>Acknowledgements</a></li>
					<li><a href='blog'>Blog Entries</a></li>
					<li><a href='projects.html'>Projects</a></li>
					<li><a href='about.html'>About Me</a></li>
				</ul>
			</nav>
		</div>
		<div class="last-post">
			<h1>Latest blog post:</h1>
			{% for post in site.posts limit: 1 %}
				<p><a href="{{ post.url }}">{{ post.title }}</a> (Published: <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: '%F' }}</time>) {% if post.replaces %}<abbr title="There is a newer/better version available of this post.">*</abbr>{% endif %}</p>
			{% endfor %}
		</div>
		<h1>Places I am on</h1>
		<ul>
			<li><a href="https://www.youtube.com/channel/UCNdglw4tpYS3B96nS9tSuZw">YouTube</a></li>
			<li><a href='https://mastodon.social/@redeclipse' title="I don't check this often! Be aware!">Mastodon</a></li>
		</ul>
	</body>
	<footer>
		<p class='toBottom egg'>As you can see, I am a very talanted <a class="egg" href="https://i.kym-cdn.com/photos/images/original/001/018/899/936.jpg">designer</a>.</p>
	</footer>
</html>
