---
layout: default
title: Red's Blog Spot
---
	<body>
	<a href="/">&#60;&#60; Main site</a>
	<h1>Entries</h1>
	<p>All opinions that I publish are my own, unless explicitly stated otherwise (e.g to make a point, or to quote someone). They do not and will not reflect opinions of anyone, or anything I am associated with.</p>
	<p>Listed in published order. (New -> Old).</p>
	<p>Entry index:</p>
	<ul>
		{% for post in site.posts %}
		{% unless post.tags contains "outdated" %}
		<li><a href="{{ post.url }}">{{ post.title }}</a> (Published: <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: '%F' }}</time>){% if post.tags contains "satire" %} (Satire) {% endif %}</li>
		{% endunless %}
		{% endfor %}
	</ul>
	<p><abbr title="Outdated entries are blog posts that I made in the past that either no longer align with my views, or are no longer actual. You can still read them, though I recommend reading most recent ones, if available.">Outdated entries</abbr> index:</p>
	<ul>
		{% for post in site.posts %}
		{% if post.tags contains "outdated" %}
		<li><a href="{{ post.url }}">{{ post.title }}</a> (Published: <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: '%F' }}</time>)</li>
		{% endif %}
		{% endfor %}
	</ul>
	</body>
	{% include content-disclaimer.html %}
</html>
